*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    background:linear-gradient(to top,rgb(255, 100, 255),darkblue,black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
iframe{
    display: block;
    margin: auto;
}
button{
    cursor: pointer;
    border:none;
    font-size: 18px;
}
button:hover{
    background-color: color-mix(in srgb, hsl(240, 100%, 71%) 60%, red 40%);
}
dialog{
    backdrop-filter: blur(20px);
    z-index: 2;
    position: absolute;
    margin: auto;
    overflow: auto;
    margin-top:5px;
    left:1px;
    color:white;
    background-color: rgba(0, 0, 0,0.45);
    box-shadow: 2px 2px 6px black;
    opacity:0;
    border: 2px solid pink;
    transition:opacity 0.5s;
}
a{
    cursor: pointer;
}
/*for many*/
.block{
    display: block;
}
.container{
    max-width:100%;
    min-width: 300px;
  
}
.center{
    margin: auto;
}
.text_center{
    text-align: center;
}
.flex_center{
    display: flex;
    justify-content: center;
}
/*-----------------------------*/
.anim{
    opacity:0;
    transform: translateY(4vh);
    transition: transform 0.6s,opacity 1s,box-shadow 1.2s;
    position: relative;
}
/*groups*/
#group0{
    user-select: none;
}
#group1{
    user-select: none;
}
/* Animation */
div.circle{
   border-radius: 100%;
   height:200px;
   width:200px;
   aspect-ratio: 1/1;
   background-color: grey;
   background-image: url('https://images.prodia.xyz/33e40209-6953-4610-afa6-97e2b4d17485.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 0px 0px 21px white;
   margin-top: 5vh;
   outline: 3px solid white;
   transition: box-shadow 0.6s;
}
div.circle:hover{
    box-shadow:0px 0px 30px yellow;
}
button.connections_btn{
    background-color: rgb(44, 44, 44);
    border-left: black;
    color:white;
    text-decoration:none;
    height:55px;
    width:100px;
    text-align: center;
    display: inline-block;
    font-size:32px;
    padding: 5px;
    border-radius:20px;
    transition: font-size 0.2s;
}
button.connections_btn:active{
    background-color: blue;
}
button.connections_btn:hover{
    font-size:38px;
}
button.cls{
    height:max-content;
    width:max-content;
   float: right;
    font-size: 24px;
    background-color:rgb(255, 153, 0);
    font-weight: bold;
    color: white;
    height:30px;
    width:40px;
    border-radius:3px;
}
button.cls:hover{
    background-color: red;
}
button.cls:active{
    background-color: rgb(253, 202, 106);
}
div.info_box{
    background-color:rgba(0,0,0,0.5);
    height:29vh;
    max-width:100%;
    min-width: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    word-wrap: break-word;
    color:rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
}
dialog#dc{
    height:90vh;
    width:100%;
}
button.discord_btn{
    display: block;
    height: 50px;
    width:200px;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(30, 30, 253);
    aspect-ratio: 1/2;
}
button.discord_btn:hover{
    text-decoration: underline;
}
.spoiler{
    background-color: rgb(105, 105, 105);
    color:rgb(105, 105, 105);
    cursor: pointer;
}
p#text{
    opacity: 1;
    transition: opacity 0.5s;
}
button.page_btn{
    color:white;
    background-color: transparent;
    font-weight: bold;
    width:max-content;
    height: max-content;
    padding: 10px;
    font-family: monospace;
    transition: opacity 0.2s,font-size 0.2s;
}
button.page_btn:disabled{
    opacity: 0.4;
}
button.page_btn:hover{
    font-size: 20px;;
}
nav#page_btns{
    display: none;
}
nav#connections{
    bottom:0;
    position: sticky;
    width:max-content;
}
@media only screen and (max-width:600px) {
    div.circle{
        height:120px;
        width:120px;
    }
    h1{
        font-size:20px;
    }
    div.info_box{
        font-size:16px;
    }
    button.connections_btn{
        width:60px;
        height:40px;
        font-size:17px;
    }
    button.connections_btn:hover{
        font-size:24px;
    }

}